<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='survey.css') }}">
    <title>My Website</title>
  </head>
  <body>
    <main>
        <div class ="container">
            <p1>Dojo Survey</p1>

            <div class = "box">
                <p2>Name:</p2>
                <p2>{{name}}</p2>
            </div>

            <div class = "box">
                <p2>Dojo Location</p2>
                {{location}}
            </div>

            <div class = "box"> 
                <p2>Favorite Language</p2>
                {{language}}
            </div>
            
            <div class = "box">
                <p2>Comments</p2>
                {{comments}}
            </div>
        </div>
    </main>
  </body>
</html>